body{
    width: 100%;
    height: 100vh;
}
#outerdiv{
    display: inline-block;
    background-color: rgb(44, 170, 229);
    padding: 20px;
    border-radius: 15px;
    /* margin-left: 570px; */
    /* margin-top: 170px; */
}
#welcomeback{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form div{
    margin: 15px;
}
input{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px
}
#signup{
    background-color: black;
    color: white;
    height: 30px;
    width: 300px;
    cursor: pointer;
}
#siNin{
    display: flex;
    justify-content: center;
    width: 300px;
    border: 1px solid red;
}